@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

body{
    --color-dark : #343a40;
    --color-light: #f5f3f4;
    --panelColor: #ffe66d;
    --active : #06d6a0;
}

#site-main{
    background-image: linear-gradient(#cfd9df , #e2ebf0);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

#site-main .board{
    padding: 1em 0 2em;
    border-radius: .2em;
}

#site-main .Htitle{
    padding-top: 40px;
    text-decoration: underline;
}

.text-dark{
    padding-top: 20px;
    text-align: center;
    color: var(--color-dark);
}

.text-light{
    color: var(--color-light);
}

ul{
    list-style-type: none;
}

ul > li .flex{
    color: var(--color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 1em;
    text-align: left;
    background-color: var(--active);
    padding: .8em 0;
    border-radius: 10px;
    box-shadow: 1px 10px 20px #858b9259;
}

ul > li img{
    border-radius: 50%;
    width: 20%;
}

.upcoming{
    margin-top: 1em;
}